<style>
  .message-content {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 800px;
    font-size: 18px;
    line-height: 22px;
  }
</style>

<div class="message-content">
  <p>Hello Dev, {{name}}</p>
  <p>Parece que uma troca de senha para sua conta foi requisitada.</p>
  <p>Se porventura é do seu conhecimento peço que clique logo abaixo no <strong>link</strong> para nova senha:</p>
  <p>
    <a href="{{link}}">Resetar a minha senha</a>
  </p>
  <p><b>Caso contrário se essa solicitação não é do seu conhecimento ignore-a!</b></p>
  <p>
    Thanks! <br>
    <strong>[Equipe] InventX</strong>
  </p>

</div>
